
body {
    background-color: rgba(240, 228, 194, 0.60);
    font-family: "Brush Script MT", cursive, copperplate, serif;
}

h1 {
    color: rgb(230, 125, 65);
    font-size: 40px;
    text-align: center;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 15px;
}

a:link,
a:visited {
    color: rgb(230, 125, 65);
    font-size: 24px;
    text-decoration: none;
}

body {
    text-align:center;
}